<!-- <div class="modal fade"> -->
<!-- <div class="modal-dialog"> -->
<div class="modal-content">
	<div class="modal-header modal-header-warning">
		<h4><i class="glyphicon glyphicon-warning-sign"> </i> Remove Case</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<form role="form" name="removeCase">
				<div class="form-group">
					<label for="aNum" class="col-sm-12 col-lg-12 col-md-12 requiredInputs">CBCA EDS Ctrl# (A#)</label>
					<div class="col-sm-12 col-lg-12 col-md-12">
						<input type="text" id="aNum" name="aNum" data-validate-on="dirty"
							   class="form-control input-sm" data-ng-model="form.aNum" required>
					</div>
				</div>

				<div class="form-group">
					<label for="comments" class="col-sm-12 col-lg-12 col-md-12">Reason to remove the case</label>
					<div class="col-sm-12 col-lg-12 col-md-12">
					<textarea name="comments" id="comments" class="form-control input-lg"
							  data-ng-trim="true" data-uib-popover="{{toolTip.comments}}"
							  data-popover-trigger="'focus'" data-popover-placement="top"
							  title="Enter additional comments" data-ng-pattern="regEx.comments"
							  data-validation-msg-required="Reason to remove the case"
							  data-validation-msg-pattern="Invalid input format. Allowed characters and symbols in this input field are a-zA-Z0-9!. "
							  data-ng-model="form.reasonForDeletion"
							  maxlength="250"></textarea>

						<span data-ng-class="{'btn-warning': form.reasonForDeletion.length >= 120, 'btn-danger': form.reasonForDeletion.length >= 250 }">
						{{ 250 - form.reasonForDeletion.length }} characters remaining</span>
					</div>

				</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" ng-click="doRemoveCase(form)" data-ng-disabled="removeCase.$invalid || !removeCase.$dirty"
			class="btn btn-danger">Remove</button>
		<button type="button" ng-click="cancel()" class="btn btn-warning">Cancel</button>
	</div>
</div>
<!-- </div> -->
<!-- </div> -->
