<div class="modal-content">
	<div class="modal-header modal-header-info">
		<h4 class="modal-title">
			<i class="glyphicon glyphicon-thumbs-up"></i> <span>Account Reset</span>
		</h4>
	</div>

	<div class="modal-body">
		<form id="register-form" data-ng-fab-form-options="customFormOptions"
			name="registrationForm">
			<div class="panel panel-primary">
				<div class="panel-body">
					<div>
						<div class="form-group">
							<label>Security Question</label>
							<pre>{{Question.id}}</pre>
						</div>
						<div class="form-group">
							<label for="answer">Answer</label>
							<input type="text" class="form-control" data-ng-model="secAnswer"
								id="answer" placeholder=" " data-ng-model-options="{ updateOn: 'blur' }">
							<input type="hidden" data-ng-model="numberOfAttempts">
						</div>
						<span style="color: red;">{{error}}</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="box-footer text-center">
			<input type="button" class="btn btn-sm  btn-success" value="Submit"
				data-ng-click="checkifThisAnswerIsCorrect(Question.ques,secAnswer,numberOfAttempts)"/>
		</div>
	</div>
</div>
<!-- /.modal-content -->
