<style>
.custom-modal-bg-color {
background-color: lightgray;
}
</style>

<!-- Modal content-->
<div class="modal-content">
	<div class="modal-header modal-header-primary">
		<h4 class="modal-title">Forgotten Password Reset:</h4>
	</div>
	<div class="modal-body custom-modal-bg-color">
		<div class="form-group">
                  <label for="emailId" class="requiredInputs">Email address</label>
                  <input type="email" 
                  class="form-control" 
                  data-ng-model="form.email"
                  data-uib-popover="{{toolTip.email}}"
                  data-popover-trigger="'focus'"
                  data-popover-placement="top"
				  data-ng-pattern="regEx.email"
				  data-validation-msg-required="Please enter a email address"
				  data-validation-msg-pattern="Invalid input format"
				  data-char-limit="320"  
				  data-ng-model-options="{ updateOn: 'blur' }"
                  id="emailId" 
                  lowercase required>
                </div>
	</div>
	<div class="modal-footer custom-modal-bg-color">
		<button type="button" class="btn btn-success" data-ng-click="OK(form.email)">OK</button>
		<button type="button" class="btn btn-warning" data-ng-click="cancel(form.role)">Cancel</button>
	</div>
</div>
