<div class="modal-content" disableBackBtn>
	<div class="modal-header modal-header-primary">
		<h4 class="modal-title">Rules of Behavior <a
				data-ng-click="cancel()" class="pull-right" style="color: red;"
				title="Close" alt="Close"><i
				class="glyphicon glyphicon-remove-circle show-pointer"></i></a>
		</h4>
	</div>
	<div class="modal-body">
		<p> </p>
			<ol>
			<li>PURPOSE. This notice is to ensure that users of EPDS abide by security requirements and procedures needed to protect EPDS and customer information resources.
			 It is also intended to help raise security awareness and inform system users about security policies and procedures.</li>
			</ol>
			<ol start="2">
			<li>National policy requirements regarding information systems are stated in the Federal Information Security Management Act (FISMA) 
			(Title III of the E-Government Act of 2002); the Computer Fraud and Abuse Act (18 U.S.C. Sec. 1030 [1993]); Office of Management and Budget (OMB) 
			Circular No. A-123, Management Accountability and Control; and OMB Circular A-130, Management of Federal Information Resources.</li>
			</ol>
			<ol start="3">
			<li>This notice applies to EPDS system users.</li>
			</ol>
			<ol start="4">
			<li>UNDERSTANDING AND AGREEMENTS. As a user of EPDS, I:</li>
			</ol>
			<ul>
			<li>Will use EPDS only for authorized purposes.</li>
			<li>Understand that information processed on this site may be monitored.</li>
			<li>Will protect the EPDS system and all sensitive information contained in the system from unauthorized personnel.</li>
			<li>Will process only data that pertains to official business and is authorized to be processed on the system. 
			I will not retrieve information for someone who does not have authority to access the information. 
			I will not intentionally access, delete, or alter files, operating systems or programs.</li>
			<li>Acknowledge that I will receive user identifiers (user IDs) and passwords to authenticate my computer account. After receiving them, I will:</li>
			<li>Protect and not share or publicly post my password.</li>
			<li>Not knowingly permit or cause my username and password to be used by anyone other than myself or my authorized agent.</li>
			<li>Report to CBCA if my password has been compromised.</li>
			<li>Be responsible for all activity that occurs on my individual account once my password has been used to log on.</li>
			<li>Ensure my password meets EPDS system complexity requirements.</li>
			<li>Will use due care when adding a co-representative (when applicable).</li>
			<li>Will use anti-virus software to scan all files for malicious software (e.g., viruses, worms, etc.) before uploading any documents into the EPDS system.</li>
			<li>Will not try to disable or subvert EPDS security controls or monitoring mechanisms.</li>
			<li>Will ensure that the Web browser window is closed before navigating to other sites.</li>
			<li>Understand that any person who obtains information from a computer connected to the Internet 
			in violation of her employer&rsquo;s computer-use restrictions is in violation of the Computer Fraud and Abuse Act.</li>
			</ul>
			<ol start="5">
			<li>EFFECTIVE DATE. This agreement becomes effective by the date of your electronic acceptance of the terms of this notice.</li>
			</ol>
			<p>ACCEPTANCE</p>
			<p>I have read and understand the above <em>Rules of Behavior</em>. By my electronic acceptance , 
			I acknowledge and agree that my access to the EPDS systems is covered by, and subject to, such rules. Further, 
			I understand that unauthorized or inappropriate use of the EPDS system may result in the loss or limitation of my privilege and that
			 CBCA retains the right, at its sole discretion, to terminate, cancel, or suspend my access rights to the EPDS system at any time, without notice.
			 I also understand that I could lose access to the system, as well prosecution, penalties or financial liability, depending on the severity of the misuse.</p>
					
	</div>
	<div>
		<div class="modal-footer  buttoncls">
			<button class="btn btn-success "
				data-ng-click="OK()">I Agree</button>
			&nbsp;&nbsp;
			<!-- <button class="btn btn-danger  pull-right" data-ng-click="cancel()">Cancel</button> -->
		</div>
	</div>
</div>
<!-- /.modal-content -->

