<div class="modal-content" disableBackBtn>
	<div class="modal-header modal-header-primary">
		<h4 class="modal-title">Rules of Behavior <a
				data-ng-click="cancel()" class="pull-right" style="color: red;"
				title="Close" alt="Close"><i
				class="glyphicon glyphicon-remove-circle show-pointer"></i></a>
		</h4>
	</div>
	<div class="modal-body">
		<p> </p>
			<ol>
			<li>PURPOSE.  These Rules of Behavior apply to EDS users.  Their purpose is to ensure that system users abide by the security requirements and
				procedures needed to protect EDS and its system users’ information.  It is also intended to help raise security
				awareness and inform system users about security policies and procedures.</li>
			</ol>
			<ol start="2">
			<li>POLICIES.  National policy requirements regarding information systems are stated in the Federal Information Security Modernization
				Act of 2014 (FISMA), 44 U.S.C. Chapter 35; the Computer Fraud and Abuse Act, 18 U.S.C. 1030; and OMB Circular A-130,
				Managing Information as a Strategic Resource.</li>
			</ol>
			<ol start="3">
			<li>This notice applies to EDS users.</li>
			</ol>
			<ol start="4">
			<li>UNDERSTANDING AND AGREEMENTS. As a user of the EDS, I:</li>
			</ol>
			<ul>
			<li>Will use EDS only for authorized purposes.</li>
			<li>Understand that information processed on this site may be monitored.</li>
			<li>Will protect EDS and all sensitive information contained in the system from unauthorized personnel.</li>
			<li>Will process only data that pertains to official business and is authorized to be processed in the system.
				<li>Will not retrieve information for someone who does not have authority to access the information. </li>
				<li>Will not intentionally access, delete, or alter files, operating systems or programs.</li>

			<li>Will protect and not share or publicly post my password.</li>

			<li>Will report to CBCA if my password has been compromised.</li>
			<li>Will be responsible for all activity that occurs on my individual account once my password has been used to log on.</li>
			<li>Will ensure my password meets EDS complexity requirements.</li>
			<li>Will use due care when adding a co-representative (when applicable).</li>
			<li>Will use anti-virus software to scan all files for malicious software (<i>e.g.</i>, viruses, worms, etc.) before uploading any documents into EDS system.</li>
			<li>Will not try to disable or subvert EDS security controls or monitoring mechanisms.</li>
			<li>Will ensure that the Web browser window is closed before navigating to other sites.</li>

			</ul>
			<ol start="5">
			<li>EFFECTIVE DATE. This agreement becomes effective on the date that you accept these <em>Rules of Behavior</em>.</li>
			</ol>
			<p>ACCEPTANCE</p>
			<p>I have read and understand the above <em>Rules of Behavior</em>. By my electronic acceptance, I acknowledge and agree
				that my access to EDS is covered by, and subject to, these rules.  Further, I understand that unauthorized or
				inappropriate use of EDS may result in the loss or limitation of my privileges to use the system and that CBCA
				retains the right, at its sole discretion, to terminate, cancel, or suspend my access to EDS at any time,
				without notice.  I also understand that I could suffer prosecution, penalties, or financial liability,
				depending on the severity of the misuse.</p>
					
	</div>
	<div>
		<div class="modal-footer  buttoncls">
			<button class="btn btn-success "
				data-ng-click="OK()">I Agree</button>
			&nbsp;&nbsp;
			<!-- <button class="btn btn-danger  pull-right" data-ng-click="cancel()">Cancel</button> -->
		</div>
	</div>
</div>
<!-- /.modal-content -->

