<style>
.custom-modal-bg-color {
background-color: lightgray;
}
</style>

<!-- Modal content-->
<div class="modal-content">
	<div class="modal-header modal-header-primary">
		<h4 class="modal-title">{{headerText}}</h4>
	</div>
	<div class="modal-body custom-modal-bg-color">
		<form name="mainForm" data-ng-fab-form-options="customFormOptions">
		<div class="form-group">
             <label for="dmNum">DM#</label>
             <input type="text" class="form-control" 
             data-ng-model="form.dm" 
             id="dmNum" 
             numbers-only maxlength="10">
           </div>
           <div class= "row">
           <div>
           <span>
           <strong><em>*Please enter the Docket Management Number(DM#). &nbsp;&nbsp;Input above will accept only numbers.</em></strong>
           </span>
           </div>
           </div>
          </form>
	</div>
	<div class="modal-footer custom-modal-bg-color">
		<button type="button" class="btn btn-success" ng-disabled="form.dm.length < 5 || form.dm == null" data-ng-click="ok(form.dm)">OK</button>
		<button type="button" class="btn btn-warning" data-ng-click="cancel(form.dm)">Cancel</button>
	</div>
</div>
