<style>
.custom-modal-bg-color {
background-color: lightgray;
}
</style>

<!-- Modal content-->
<div class="modal-content" disableBackBtn>
	<div class="modal-header modal-header-primary">
		<h4 class="modal-title">Forgotten Password Reset:</h4>
	</div>
	<div class="modal-body custom-modal-bg-color">
		<div class="form-group">
             <label for="exampleInputEmail1">Email address</label>
             <input type="email" class="form-control" data-ng-model="form.email" id="exampleInputEmail1">
           </div>
	</div>
	<div class="modal-footer custom-modal-bg-color">
		<button type="button" class="btn btn-success" data-ng-click="OK(form.email)">OK</button>
		<button type="button" class="btn btn-warning" data-ng-click="cancel(form.role)">Cancel</button>
	</div>
</div>
